<div class="card">
  <div class="card_header">
    <div class="views">
      <img src="../../../assets/eye.png" />
      <span>129 371</span>
    </div>
    
    <img class="pin_btn" src="../../../assets/pin.png" />
  </div>
  <img class="doctor_image" src="../../../assets/Ellipse 5.png" />
  <div class="doctor_info">
    <h4>გიორგი ხორავა</h4>
    <p>კარდიოლოგი / არითმოლოგი</p>
    <div><span class="yellow-star">&#9733;&#9733;&#9733;&#9733;&#9733;</span></div>
  </div>
  <button class="card_button">მიღებაზე ჩაწერა </button>
</div>