<div class="main_page_container">
    <img src="../../../assets/Rectangle 30.png" alt="Background Image" class="full_width_image">
    <div class="text_overlay">
      <div class="image_text">
            <h1>აირჩიე კლინიკა რომელსაც შეგიძლია ენდო</h1>
      </div>
      <div class="image_address">
            <img src="../../../assets/Vector.png" />
            <p>იაკობ ნიკოლაძე №10</p>
      </div>
    </div>
    <div class="category_and_card_container">
        <app-category></app-category>
        <app-doctors></app-doctors>

    </div>
  </div>
  