    <footer class="footer">
      <section class="footer-company">
        <img
          src="../../../assets/logo 2.png"
          alt="Company Logo"
          style="width: 90px; height: auto"
        />
        <h1 class="footer-title">კლინიკა</h1>
      </section>
      <section class="footer-side-bar">
        <div class="footer-stack">
          <h1 class="footer-side-bar-list-header">ინფორმაცია</h1>
          <div class="footer-list-divider"></div>
          <a href="#" class="footer-list-item">ჩვენ შესახებ</a>
          <a href="#" class="footer-list-item">პარტნიორები</a>
          <a href="#" class="footer-list-item">ექიმებისთვის</a>
          <a href="#" class="footer-list-item">კლინიკებისთვის</a>
          <a href="#" class="footer-list-item">აფთიაქებისთვის</a>
        </div>
        <div class="footer-stack">
          <h1 class="footer-side-bar-list-header">პაციენტებისთვის</h1>
          <div class="footer-list-divider"></div>
          <a href="#" class="footer-list-item">ექიმები</a>
          <a href="#" class="footer-list-item">კლინიკები</a>
          <a href="#" class="footer-list-item">ანოტაციები</a>
          <a href="#" class="footer-list-item">ბლოგი</a>
          <a href="#" class="footer-list-item">მედია</a>
        </div>
        <div class="footer-stack">
          <h1 class="footer-side-bar-list-header">კონტაქტი</h1>
          <div class="footer-list-divider"></div>
          <a href="#" class="footer-list-item">
            სამუშაო დღეები :<br />
            ორშ - პარ
          </a>
          <a href="#" class="footer-list-item">
            სამუშაო დრო : <br />
            9:00 - 17:00
          </a>
          <a href="#" class="footer-list-item">იაკობ ნიკოლაძე №10</a>
          <a href="#" class="footer-list-item">032 2 100 100</a>
        </div>
        <div class="footer-stack">
          <h1 class="footer-side-bar-list-header">გამოგვყევით</h1>
          <div class="footer-list-divider"></div>
          <a href="#" class="footer-list-item">Facebook</a>
          <a href="#" class="footer-list-item">Instagram</a>
          <a href="#" class="footer-list-item">Youtube</a>
        </div>
      </section>
    </footer>
