.forget-password-container {
  display: grid;
  place-items: center;
}
.reset-password-header {
  color: #18a4e1;
  font-weight: 500;
  font-size: 26px;
  margin-left: 30px;
}
.forget-password-container {
  p {
    padding: 0;
    margin: 0;
  }
  input {
    min-width: 250px;
    height: 35px;
    border-radius: 50px;
    margin-top: 10px;
    margin-bottom: 10px;
    border: 1px solid #ebf2f8;
    padding: 0 20px;
  }
}
.forget-password-button {
  background: #18a4e1;
  color: #ffff;
  border-radius: 2px;
  padding: 10px;
  cursor: pointer;
  border: 1px solid gray;
}
.email-container {
  display: block;
}

.send-code-button {
  background-color: rgb(24, 164, 225);
  width: 50%;

  padding: 10px 20px;
  color: white;
  border-radius: 5px;
  cursor: pointer;
  font-size: 14px;
  margin: 20px auto;
}
