<div class="forget-password-container">
  <h2 class="reset-password-header">პაროლის აღდგენა</h2>
  <div class="email-container" *ngIf="!user">
    <input type="email" id="email" name="email" [(ngModel)]="email" placeholder="Enter your email">
    <div class="send-code-button" (click)="sendVerificationCode()">Send Verification Code</div>
  </div>
  <div class="verification-code">
    <p>ვერიფიკაციის კოდი:</p>
    <input type="text" id="resetCode" name="resetCode" [(ngModel)]="resetCode" required>
  </div>
  <p *ngIf="errorMessage" style="color: red; margin: 5px 0;">{{ errorMessage }}</p>
  
  <button class="forget-password-button" style="margin-bottom: 50px;" (click)="checkResetCodeWithMail()">შეამოწმე კოდი</button>
  
  <!-- Conditionally display new password input fields if the code is correct -->
  <ng-container *ngIf="resetCodeMatched">
    <p>New Password:</p>
    <input type="password" id="newPassword" name="newPassword" [(ngModel)]="newPassword" required>
  
    <p>Repeat New Password:</p>
    <input type="password" id="repeatNewPassword" name="repeatNewPassword" [(ngModel)]="repeatNewPassword" required>
  </ng-container>
  
  <!-- Button to reset password -->
  <button class="forget-password-button" *ngIf="resetCodeMatched" (click)="resetPassword()">Reset Password</button>
</div>

<!-- Input field for email and button to send verification code -->

