<div class="container">
  <h2 style="color: #18A4E1">ექიმის რეგისტრაცია</h2>
  <form (ngSubmit)="onSubmit()" class="registration-form">
    <div class="form-group">
      <label>სახელი</label>
      <input type="text" class="form-control" [(ngModel)]="model.firstName" name="firstName" required>
    </div>
    <div class="form-group">
      <label>გვარი</label>
      <input type="text" class="form-control" [(ngModel)]="model.lastName" name="lastName" required>
    </div>
    <div class="form-group">
      <label>იმეილი</label>
      <input type="email" class="form-control" [(ngModel)]="model.email" name="email" required>
    </div>
    <div class="form-group">
      <label>პაროლი</label>
      <input type="password" class="form-control" [(ngModel)]="model.password" name="password" required>
    </div>
    <div class="form-group">
      <label>პირადი ნომერი</label>
      <input type="text" class="form-control" [(ngModel)]="model.privateNumber" name="privateNumber" required>
    </div>
    <div class="form-group">
      <label>კატეგორია</label>
      <select class="form-control" [(ngModel)]="model.category" name="category" required>
        <option *ngFor="let category of categories" [ngValue]="category.name">{{ category.name }}</option>
      </select>
    </div>
    <div class="form-group">
      <label>ფოტო სურათი</label>
      <input type="file" hidden (change)="onImageChange($event)" name="image" required class="input_file" #imageInput>
      <div style="cursor: pointer; position: relative; width: 342px; height: 52px; border: 1px solid rgb(236, 242, 248); border-radius: 50px;" (click)="imageInput.click()">
        <img src="../../../assets/upload-image-icon.svg" class="upload-image-icon" />
        <p style="margin: 15px 0 0 20px;" *ngIf="model.image">{{ model.image.name }}</p>
      </div>
    </div>

    <div class="form-group">
      <label>CV</label>
      <input type="file" hidden (change)="onCVChange($event)" name="cv" required class="input_file" #cvInput>
      <div style="cursor: pointer; position: relative; width: 342px; height: 52px; border: 1px solid rgb(236, 242, 248); border-radius: 50px;" (click)="cvInput.click()">
        <img src="../../../assets/upload-cv.svg" class="upload-image-icon" />
        <p style="margin: 15px 0 0 20px;" *ngIf="model.cv">{{ model.cv.name }}</p> 
      </div>
    </div>

    <div class="form-group">
      <label>Achievements</label>
      <textarea class="form-control" [(ngModel)]="model.achievements" name="achievements" required></textarea>
    </div>
    <button type="submit" class="add_button" >რეგისტრაცია</button> 
  </form>
</div>