<h2 *ngIf="showLoginForm">ავტორიზაცია</h2>

<app-forget-password *ngIf = "ResetPasswordForm"></app-forget-password>
<mat-dialog-content class="login_container" *ngIf="showLoginForm">
  <form  [formGroup]="loginForm" (ngSubmit)="login()" autocomplete="off">
    <input formControlName="userName" type="text" placeholder="ელ. ფოსტა / ტელეფონის ნომერი" class="input_field">
    <span style="color: red;" *ngIf="submitted && loginForm.get('userName')?.hasError('required')">
      Username is required
    </span>
    <br>
    <input formControlName="password" type="password" placeholder="პაროლი" class="input_field">
    <span style="color: red;" *ngIf="submitted && loginForm.get('password')?.hasError('required')">
      Password is required
    </span>
    <p style="color: red;"> {{ errorMessages[0] }}</p>
    <p mat-button color="primary" class="reset-password" (click)="openForgetPasswordDialog()">პაროლის აღდგენა</p>
  </form>

  
</mat-dialog-content>


<mat-dialog-actions>
  
  <button class="btn" mat-button (click)="login()" *ngIf="showLoginForm">შესვლა</button>
</mat-dialog-actions>