.input_field {
  width: 90%;
  height: 50px;
  border-radius: 50px;
  margin-top: 10px;
  margin-bottom: 10px;
  border: 1px solid #ebf2f8;
}

h2 {
  color: #18a4e1;
  font: FiraGO;
  font-weight: 500;
  font-size: 26px;
  margin-left: 30px;
}

.btn {
  width: 150px;
  background-color: #053354;
  text-align: center;
  border-radius: 40px;
  height: 40px;
  color: white;
  margin-left: 20px;
  margin-bottom: 20px;
  border: none;
}

.login_container {
  overflow: hidden;
}

.reset-password {
  position: absolute;
  right: 20px;
  bottom: -40px;
  color: black;
  cursor: pointer;
}

form {
  position: relative;
}
