<div class="registration-form">
<h2 style="color: #18A4E1">რეგისტრაცია</h2>
  <form [formGroup]="registerForm" (ngSubmit)="register()" autocomplete="off">
    <div class="input-container">
      <label for="first-name">სახელი</label>
      <input
        [class.is-valid]="submitted && registerForm.get('firstName')?.errors"
        formControlName="firstName"
        type="text"
        placeholder="(მინიმუმ 5 სიმბოლო)"
      />
      <p
        style="color: red"
        *ngIf="submitted && registerForm.get('firstName')?.hasError('required')"
      >
        სახელი აუცილებელია
      </p>
      <p
        style="color: red"
        *ngIf="registerForm.get('firstName')?.hasError('minlength')"
      >
        მინიმუმ 5 სიმბოლო
      </p>
    </div>
    <div class="input-container email-input">
      <label for="email">Email</label>
      <input formControlName="email" type="email" id="email" name="email" />
      <img src="../../../assets/send-email.svg" class="send-email-icon" (click)="sendVerificationCode()" />
      <p
        style="color: red"
        *ngIf="submitted && registerForm.get('email')?.hasError('required')"
      >
        იმეილი აუცილებელია
      </p>
      <p
        style="color: red"
        *ngIf="registerForm.get('email')?.hasError('pattern')"
      >
        არასწორი ფორმატი
      </p>
    </div>
    <div class="input-container">
      <label for="private-number">პირადი ნომერი</label>
      <input
        formControlName="privateNumber"
        type="text"
        id="private-number"
        name="private-number"
      />
      <p
        style="color: red"
        *ngIf="
          submitted && registerForm.get('privateNumber')?.hasError('required')
        "
      >
        პირადი ნომერი აუცილებელია
      </p>
      <P
        style="color: red"
        *ngIf="registerForm.get('privateNumber')?.hasError('pattern')"
      >
        პირადი ნომერი არასწორია</P
      >
    </div>
    <div class="input-container">
      <label for="last-name">გვარი</label>
      <input
        [class.is-valid]="submitted && registerForm.get('lastName')?.errors"
        formControlName="lastName"
        type="text"
        id="last-name"
        name="last-name"
      />
      <p
        style="color: red"
        *ngIf="submitted && registerForm.get('lastName')?.hasError('required')"
      >
        სახელი აუცილებელია
      </p>
      <p
        style="color: red"
        *ngIf="registerForm.get('lastName')?.hasError('minlength')"
      >
        მინიმუმ 5 სიმბოლო
      </p>
    </div>

    <div class="input-container">
      <label for="private-number">აქტივაციის კოდი</label>
      <input
        formControlName="activationCode"
        type="text"
        id="private-number"
        name="private-number"
      />
      <p
        style="color: red"
        *ngIf="
          submitted && registerForm.get('privateNumber')?.hasError('required')
        "
      >
        აქტივაციის კოდი აუცილებელია
      </p>
    </div>

    <div class="input-container">
      <label for="password">პაროლი</label>
      <input
        formControlName="password"
        type="password"
        id="password"
        name="password"
        placeholder="( მინიმუმ 8 სიმბოლო : @ 7 , )"
      />
      <p
        style="color: red"
        *ngIf="submitted && registerForm.get('password')?.hasError('required')"
      >
        პაროლი აუცილებელია
      </p>
      <p
        style="color: red"
        *ngIf="submitted && registerForm.get('password')?.hasError('pattern')"
      >
        პაროლი არ არის სწორი
      </p>
    </div>

    <button class="register-button" type="submit">რეგისტრაცია</button>
  </form>
</div>
