<div class="search_container">
    <div class="address">
        <div class="circle">
            <img src="../../../assets/call.png"  />
        </div>
        <p>032 2 100 100</p>
    </div>
    <div class="address">
        <div class="circle">
            <img src="../../../assets/Vector.png" />
        </div>
        <p>იაკობ ნიკოლაძე №10</p>
    </div>
    
    <div class="search_input_container">
        <input type="text" />
        <input type="text" />
        <button><img src="../../../assets/ri_search-line.png" /></button>
    </div>
</div>
